#log{
    
       
    margin-bottom: 70px;
    padding-top: 50px; 

    width: 30%;
    height: 700px;
    
    margin: auto;
    text-align: center;
    background-color: aliceblue;

}


body{
    

    background-color: rgb(180, 160, 174);
}
#input1{
    width: 328px;
    height: 37px;
    margin-top: 20px;
    border: 1.3px solid black;
    font-size: 15px;
    
}
#log>a>button{
    width: 335px;
    height: 40px;
    background-color: rgb(243, 139, 139);
    border: 0px;
    margin-top: 15px;
    font-size: large;
    
    color: aliceblue;
    font-weight: bold;


}
#log>a{
    color: red;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#log>h1{

    padding-top: 70px;

}
#log>p>a{
    color: red;
}
#log>p{
    padding-right: 100px;
    padding-top: 20px;

}
#pp{
    padding-left: 60px;
    padding-top: 20px;

}