#index_top>h4
{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin-left: 30px;
}

#sorting_part
{
    display: flex;
    justify-content: space-around;
}
#sorting_part>div{
    width: 33%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
}
#sorting_part>div:nth-child(2)>select
{
    border: none;
    margin-left: 20px;
}
#sorting_part>div:nth-child(3)>select
{
   width: 260px;
   height: 35px;
}

#con_dis
{
    border: 1px solid gray;
    display: flex;
}
#left_con
{
    width: 250px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
#left_con>div
{
    border: 0.5px solid grey;
    padding: 20PX;
}
#left_con>div>table
{
    line-height: 0px;
    height: 10px;
}
#datatobeappended
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    width: 80%;
    gap: 20px;
    padding: 30px;
}
#b1
{
    width: 90%;
    height: 350px;
    line-height: 20px;
    padding: 20px;
}
#i1
{
    width: 80%;
    height: 55%;
}
